@using CorseEntity.Concrete
@model List<GroupAbout>

@{
    ViewData["Title"] = "GetListGroup";
    Layout = "~/Views/Shared/Layout_UI.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Qrupun adi</th>
        <th>Yaranma tarixi</th>
        <th>Telebeler</th>
        <th>Ders cedveli</th>
      
       
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.GroupId</td>
            <td>@item.GroupName</td>
            <td>@item.CreateTime.ToString("dd/MM/yyyy")</td>
            <td><a href="/UI/GeALLIdStudent/@item.GroupId/" class="btn btn-primary">Telebeler</a></td>
            <td><a href="/UI/GetAllIdSchedule/@item.GroupId/" class="btn btn-primary">Ders cedveli</a></td>
        </tr>
    }

</table>
